@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containr{
    width: 1240px;
    margin: 0 auto;
}
 header{
    a{
        text-decoration: none;
        color: white;
    }
        width: 100%;
        height: 11vh;
        background: #1C1E53;
        .container{
            width: 1240px;
            margin:0 auto;
            .header_block{
                height: 92px;
               
                display: flex;
                align-items: center;
                justify-content: space-between;
             }
            button{
                a{
                    list-style: none;
                }
                background: transparent;
                color: #F4F6FC;
                border-radius: 60px;
                border: 2px solid #2a2e9b;
                width: 185px;
                height: 60px;
                cursor: pointer;
            }
            .menu_block{
                display: flex;
                align-items: center;
                gap: 30px;
            }
    
            ul{
                display: flex;
                gap: 40px;
                list-style: none;
                
                li{
                    font-size: 16px;
                    
                }
                a{
                    text-decoration: none;
                    color: #BBBBCB;
                }
 }
}
}
main{
    .container{
        width: 1240px;
        margin: 0 auto;
        .our_pricing{
            margin-top: 60px;
            .plan{
            h6{
                font-size: 48px;
                text-align: center;
            }
            p{
                text-align: center;
            }
          }
          .pricing_block{
            margin-top: 40px;
            display: flex;
            gap: 20px;
            .block1{
                background-color: #2a2e9b;
                border-radius: 20px;
                width: 406px;
                height: 745px;
                .block_info{
                    padding-top: 100px;
                    margin: 70px;
                button{
                    cursor: pointer;
                    margin-top: 150px;
                    width: 254px;
                    height: 64px;
                    border-radius: 41px;
                    background-color: chocolate;
                }
                .div{
                    h1{
                        font-size: 38px;
                    }
                    p{
                        font-size: 16px;
                    }
                    display: flex;
                    align-items: center;
                    gap: 30px;
                }
                .land{
                    margin-top:10px;
                }
                .play{
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    div{
                        display: flex;
                        align-items:center ;
                        gap: 20px;

                    }
                }
            }
            }
            .block2{
                color: #ffffff;
                background: #1C1E53;
                border-radius: 20px;
                width: 406px;
                height: 745px;
                .block_info{
                    margin: 80px;
                    padding-top: 100px;
                    button{
                        margin-top: 150px;
                        cursor: pointer;
                        width: 254px;
                        height: 64px;
                        border-radius: 41px;
                        background: #FCD980;
                    }
                .div{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .land{
                    margin-top:10px;
                }
                .play{
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    div{
                        display: flex;
                        align-items:center ;
                        gap: 20px;

                    }
                }
              }
            }
            .block3{
                color: #ffffff;
                background: #1C1E53;
                border-radius: 20px;
                width: 406px;
                height: 745px;
                .block_info{
                    margin: 80px;
                    padding-top: 100px;
                    button{
                        margin-top: 150px;
                        cursor: pointer;
                        width: 254px;
                        height: 64px;
                        border-radius: 41px;
                        background: #FCD980;
                    }
                .div{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .land{
                    margin-top:10px;
                }
                .play{
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    div{
                        display: flex;
                        align-items:center ;
                        gap: 20px;

                    }
                }
              }
            }
          }
        }
        .FAQ{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 100px;
        .heading{
            h3{
                color: blue;
                margin-top: 20px;
            }
        }
        p{
            font-size: 24px;
            color: blue;
        }
        .question{
            div{
                margin-top: 30px;
            }
        }
        .one{
            display: flex;
            gap: 50px;
        }
        .two{
            display: flex;
            gap: 50px;
        }
        .three{
            display: flex;
            gap: 50px;
        }
        .four{
            display: flex;
            gap: 50px;
        }
        .five{
            display: flex;
            gap: 50px;
        }
        } 
    }
}
footer{
    width: 100%;
    height: 389px;
    background: #1C1E53;
    display: flex;
    justify-content: center;
    align-items: center;

.footer_block{
    width: 1056;
height: 100%;
display: flex;
.left_block{
    color: #F4F6FC;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
    .left_info{
        h2{
            margin-bottom: 30px;
        }
    }
    .contact{
        color: #1B1C2B;
        width: 517px;
        height: 95px;
        background: #FCD980;
        align-self: flex-end;
        align-content: flex-end;
    }
}
.right_block{
    color: #F4F6FC;
    width: 100%;
    div{
        width: 100%;
        height: 100px;
    }
}
}
}